$font-colour: #e0d2d2;
// FONT VARIABLES
$font-primary: 'Nunito',
sans-serif;
$font-display: 'Josefin Sans',
sans-serif;
// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$font-heading: 'Roboto',
sans-serif;
// @media only screen and respond($bp-small, $bp-medium) {
//     @content;
// }